*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ErrorCard.css */

.error-card {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.success-card {
    background-color: #64ae66;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.error-card.hidden,.success-card.hidden {
    opacity: 0;
}


