<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>registration</title>
</head>
<body>
<h1>registration</h1>
<form id="registrationForm" method="post" th:object="${AppUser}" th:action="@{/registration/register}">


    <div th:if="${param['success']}" class="param">
        Registration successful, Please check your email to complete your registration.
    </div>
    <div th:if="${param['error']}" class="param">
        Something went wrong, try using another email.
    </div>
    <label for="authFirstname">firstname:</label>
    <input type="text" id="authFirstname" name="firstname" th:field="*{firstname}" required>
    <br>
    <label for="authLastname">lastname:</label>
    <input type="text" id="authLastname" name="lastname" th:field="*{lastname}" required>
    <br>
    <label for="authEmail">Email:</label>
    <input type="email" id="authEmail" name="email" th:field="*{email}" required>
    <br>
    <label for="authPassword">Password:</label>
    <input type="password" id="authPassword" name="password" th:field="*{password}" required>
    <br>
    <button type="submit">Register</button>
</form>

<!-- Include any additional scripts or styles here -->


</body>
</html>